.vehicle-list {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #888888;
    background-color: #fff;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 5px #ccc;
  }
  
  li strong {
    font-weight: bold;
  }
  
  strong {
    font-weight: bold;
  }
  
  span {
    color: #999;
    font-style: italic;
  }