<h3>Add User</h3>

<div class="user-add">
    <h2>Add User</h2>
    <form (submit)="addUser()">
      <label for="username">Username:</label>
      <input type="text" id="username" [(ngModel)]="newUser.username" name="username" required>
  
      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="newUser.email" name="email" required>
  
      <button type="submit">Add User</button>
    </form>
  </div>
  
  <ng-container *ngIf="userList">
<h3>User List</h3>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of userList">
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
    </tr>
  </tbody>
</table>
</ng-container>